.info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    span {
        width: 400px;
    }
    .footnote {
        display: grid;
        width: 100%;
        span {
            font-size: 10px;
            justify-self: end;
        }
    }
}

.animated{
    transition: all;
    transition-duration: .2s;
}

.btn:hover{
    width: 400px;
    height: 45px;
}
.btn:active{
    background-color: $main-bgcolor;
}
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
.spinning{
    animation: spin 1s linear infinite;
}
.content {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 10px 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    .content-body{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .results{
        margin-right: 5%;
        img{
            width: 20px;
            height: auto;
            margin-top: 5%;
            display: none;
        }
    }
    .inputs{
        margin-left: 2%;
        input{
            width: 120%;
        }
    }
    input {
        border: 1px solid black;
        border-radius: 7px;
        padding: 2px 5px;
        width: 390px;
        height: 20px;
        margin-bottom: 5px;
    }
    .btn{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border: 1px solid black;
        margin: 10px auto;
        height: 30px;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: start;
        margin-bottom: 20px;
        img {
            width: 25px;
            height: auto;
        }
    }
}
.tg{
    position: relative;
    .auth-form-tg{
        color: rgb(217, 214, 214);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(90, 86, 86);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        div{
            display: flex;
            flex-direction: column;
        }
        input{
            height: 30px;
        }
        p{
            color: rgb(250, 245, 0);
            display: none;
        }
    }
}
